h1 {
    color: red;
    text-align: center;
    border: 3px transparent black;
    font-family: cursive, Times, serif; font-style: italic;
}

h3 {
    text-align: center;
}

form {
    text-align: center;
}

p {
    float: right;
    width: 300px;
    padding: 10px;
    margin-top: 400px;
}

.wrap {
    margin-top: 5px;
}
