<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Warning</title>
    <link rel="stylesheet" href="./css/initial.css">
</head>
<body>
    <div class="warning-container">
        <h1>Access Warning</h1>
        <p>This is a private webpage intended for Semder Family members.</p>
        <p class="warning-text">You must have an @semder.com email to proceed.</p>
        <a href="login"><button>Login</button></a>
        <a href="createUser"><button>Create User</button></a>
    </div>
</body>
</html>
